footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* background-color: rgb(237, 245, 248); */
    /* background-color: rgb(214, 240, 251);  */
    background-color: rgb(216, 224, 228); 
    
}

footer .col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}

footer .logo {
    margin-bottom: 30px;
}

footer h4 {
    font-size: 14px;
    padding-bottom: 20px;
}

footer p {
    font-size: 13px;
    margin: 0 0 8px 0;
}

footer a {
    font-size: 13px;
    text-decoration: none;
    color: #222;
    margin-bottom: 10px;
}

footer .follow_us {
    margin-top: 20px;
}

 /* footer .follow_us i {
    color: #465b52;
    padding-right: 4px;
    cursor: pointer;
} */

footer .follow_us i:hover,
footer a:hover {
    color: rgb(20, 148, 148);
} 

footer .follow_us a:hover{
    color: rgb(20, 148, 148);
}

footer .install .row img {
    border: 1px solid rgb(20, 148, 148);
    border-radius: 6px;
}

footer .install img {
    margin: 10px 0 15px 0;
}

footer .copyrights {
    text-align: center;
    width: 100%;
}
.section-p1 {
    padding: 30px 120px;
}

.section-m1 {
    margin: 40px 0;
}
