body{
    position: relative;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(216, 224, 228); 
    /* background-color: rgb(237, 245, 248); */
    padding: 20px 80px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.06);
    /* position: fixed ; */
    /* position:fixed;
    z-index: 20;
    width: 100%; */
}
#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
}
#navbar button{
    background-color: transparent;
    color:#2a3239;
    font-weight: 600;
    box-shadow: 0 5px 15px rgba(0,0,0,0.6);
}
#navbar button:hover,
#navbar button:active{
    background-color:rgb(20, 148, 148) ;
    color: antiquewhite;
}
#navbar li{
    list-style: none;
    padding: 0 20px;
    position: relative;
}
#navbar li a{
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 600;
    color: black;
    transition: 0.3s ease-in-out;
}
#navbar li a:hover,
#navbar li a.active {
    color: rgb(20, 148, 148);

}

#navbar li a.active::after,
#navbar li a:hover::after {
    content: "";
    width: 30%;
    height: 2px;
    background: rgb(20, 148, 148);
    position: absolute;
    bottom: -4px;
    left: 20px;
}
#mobile-navbar{
    display: none;
}

@media (max-width:769px){
    #navbar{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      position: fixed;
      top: 66px;
      right: 0px;
      width: 300px;
      height: 100vh;
      background: #2a3239;
      box-shadow:  0 40px 60px rgba(0,0,0,0.2);
      padding: 40px 0 0 10px;
      transition: 0.3s ease-in-out;
    }
    #navbar.active{
        right: -300px;
    }
    #navbar li{
        margin-bottom: 25px;
    }
    #bar, #close{
        font-size: 24px;
        cursor: pointer;
    }
   
    #mobile-navbar{
      display: block;
    }
}